*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color: rgb(243, 255, 77);
    position: relative;
}
#logo{
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 48px;
    width: 25%;
}
#login{
    position: absolute;
    padding: 20px;
    top: 20px;
    right: 20px;
    border: solid 3px;
    border-color: rgb(0, 0, 0);
    font-size: 20px;
}
.menu{
    background-color: #552d1e;
    text-align: center;
    padding: 10px;
}
.menu >a{
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-align: center;
    display: inline;
    text-decoration: none;
}
.Leftsidebar{
    background-color: rgb(184, 184, 176);
    width: 25%;
    float: left;
}
.Danhmuc{
    padding: 5px;
}
.html{
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
}
.css{
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
}
.java{
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
}
.js{
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
}
.content{
    background-color: rgb(255, 255, 255);
    width: 75%;
    float: right;   
}

.baiviet{
    padding: 20px;
}

.hoccoban{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
}

#hot{
    color: rgb(250, 250, 250);
    padding: 10px;
    float: right;
    width: 30px;
    background-color: red;
}

#xemthem{
    color: rgb(250, 250, 250);
    padding: 10px;
    width: 70px;
    background-color: blue;
}

.hoccss{
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
}

#hot{
    color: rgb(250, 250, 250);
    padding: 10px;
    float: right;
    width: 30px;
    background-color: red;
}

#xemthem{
    color: rgb(250, 250, 250);
    padding: 10px;
    width: 70px;
    background-color: blue;
}
    
